### MEDIAWIKI ###

# At every minute, create a "healtcheck" file for cron
* * * * * root /usr/local/bin/mw/wearealive
# At every minute, run jobs
* * * * * root /usr/local/bin/mw/jobrunner
# At 04:00 each day, update StopForumSpam lists
0 4 * * * root /usr/local/bin/mw/stopforumspam-refresh
# At 04:00 each day, refresh site statistics
0 4 * * * root /usr/local/bin/mw/stats
