.ext-shubara-navcards {
    min-width: 280px;
    display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-between;
    gap: 10px;
}

.ext-shubara-navcard {
    flex: 1;
    min-height: 110px;
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #8080803d;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    background-color: white;
    transition: 0.1s ease-in-out;
    background-size: cover;
    background-position: center;
    background-color: #00000030;
    background-blend-mode: overlay;
}

.ext-shubara-navcard img {
    max-width: 100%;
    max-height: 100px;
    padding: 8px;
}

.ext-shubara-navcard span {
    color: white;
    font-size: xxx-large;
    font-family: 'Onest';
    font-weight: 550;
    text-shadow: #00 1px 0 5px;
    transition: font-weight 0.1s ease-in-out;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
}

.ext-shubara-navcard:hover span {
    font-weight: 700;
}

@media (hover: hover) {
    .ext-shubara-navcard:hover {
        transform: scale(1.03);
    }
}

.ext-shubara-navcard:active {
    transform: scale(0.99);
}

@media (max-width: 1120px) {
    .ext-shubara-navcard {
        min-width: 130px;
    }
}

.ext-shubara-ulnav {
    flex: 1;
    min-width: 280px;
    padding: 8px;
    text-align: center;
    border-radius: 12px;
    background: var(--color-surface-1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.ext-shubara-ulnav h2 {
    margin: 0;
    margin-top: 4px;
}

.ext-shubara-notitle ul {
    margin: 0;
}

.ext-shubara-ulnav ul {
    display: flex;
    list-style: none;
    list-style-position: outside;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.ext-shubara-ulnav-col ul {
    flex-direction: column;
    column-gap: 20px;
    justify-content: space-between;
}

.ext-shubara-ulnav-chiplist ul {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 8px;
    justify-content: center;
}

.ext-shubara-ulnav ul li {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 4px 0;
    background: var(--color-surface-2);
    border-radius: 8px;
}
